export const environment = {
  production: true,
  urlOverpassApi: 'https://overpass-api.de/api/interpreter?data=[out:json][timeout:100];',
  urlOpenStreetApi: "https://nominatim.openstreetmap.org",
  urlOpenTopoData: "https://api.opentopodata.org/v1",
  urlSigMisiones: "https://sig.misiones.gob.ar/mapas/emergencia",
  leafletAccessToken: ''
};
