<div class="wrapper">

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
        <div class="container">
            <a href="#" class="navbar-brand">
                <img src="assets/images/logo-misiones2.png" alt="Misiones Logo" class="brand-image">
            </a>


        </div>
    </nav>
    <!-- /.navbar -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0"> Análisis de Situación de Riesgo</h1>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container">
                <h5 class="mb-2"><i class="fas fa-map-pin"></i> Lat: {{ latitud }} - Long: {{ longitud }}</h5>
                <h5 class="mb-2"><i class="far fa-map"></i> {{ lugar }}</h5>
                <div class="row">
                    <div class="col-12">
                        <div class="info-box" [class.bg-gray]="factorRiesgo == 0" [class.bg-1]="factorRiesgo == 1"
                            [class.bg-2]="factorRiesgo == 2" [class.bg-3]="factorRiesgo == 3"
                            [class.bg-4]="factorRiesgo == 4" [class.bg-5]="factorRiesgo == 5">
                            <div class="overlay" *ngIf="loadingRiesgo">
                                <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                            </div>
                            <span class="info-box-icon"><i class="fas fa-tachometer-alt"></i></span>

                            <div class="info-box-content">

                                <h2 *ngIf="!loadingRiesgo">Riesgo:
                                    <container-element [ngSwitch]="factorRiesgo">
                                        <span *ngSwitchCase="1">Bajo</span>
                                        <span *ngSwitchCase="2">Moderado</span>
                                        <span *ngSwitchCase="3">Alto</span>
                                        <span *ngSwitchCase="4">Muy Alto</span>
                                        <span *ngSwitchCase="5">Extremo</span>
                                        <span *ngSwitchDefault>Sin Riesgos</span>
                                    </container-element>

                                </h2>

                            </div>

                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                </div>


                <div class="row">
                    <div class="col-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Información de Proximidad</h3>

                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <ul>
                                    <li *ngFor="let condicionRiesgo of condicionesRiesgo">{{ condicionRiesgo }}</li>
                                </ul>
                            </div>
                            <div class="overlay dark" *ngIf="loadingProximididad">
                                <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Clima
                                    <img *ngIf="clima.weathercondtioniconhtml" [src]="clima.weathercondtioniconhtml"
                                        alt="clima img" class="img-fluid img-clima">
                                </h3>

                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">

                                <strong>Datos del tiempo al :</strong> {{ clima.fecha }} Uhr <br>
                                <strong>Condición:</strong> {{clima.weatherconditiondescription}} <br>
                                <strong>Temperatura:</strong> {{clima.temperaturecelsius}} °C <br>
                                <strong>Presión atmosférica:</strong> {{clima.airpressure}} hPa <br>
                                <strong>Humedad:</strong> {{ clima.airhumidity }}% <br>
                                <strong>Cobertura de Nubes:</strong> {{clima.cloudcoverage}}% <br>
                                <strong>Velocidad del Viento:</strong> {{clima.windspeedkmh}} Km/h <br>
                                <strong>Dirección del Viento:</strong> {{clima.direccionViento}} <i
                                    class="fas fa-arrow-up"
                                    [style]="'transform: rotate('+clima.DireccionViento+'deg)'"></i>
                                <br>
                                <!-- <strong>Estación Meteorológica:</strong> {{clima.estacionMeteorologica}} <br> -->

                            </div>
                            <div class="overlay dark" *ngIf="loadingClima">
                                <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                    <div class="col-6">

                        <h5 class="mb-4">Topografía</h5>
                        <div class="row">
                            <div class="col-4">
                                <div class="info-box bg-info">
                                    <span class="info-box-icon">
                                        <i class="fas fa-arrows-alt-v"></i>
                                    </span>

                                    <div class="info-box-content">
                                        <span class="info-box-text">Altura</span>
                                        <span class="info-box-number">{{ altura }} m</span>                                        
                                    </div>
                                    <div class="overlay dark" *ngIf="loadingTopoGrafia">
                                        <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="info-box bg-info">
                                    <span class="info-box-icon"><i class="fas fa-grip-lines"
                                            [style]="'transform: rotate('+anguloInclinacion+'deg)'"></i></span>

                                    <div class="info-box-content">
                                        <span class="info-box-text">Inclinación</span>
                                        <span class="info-box-number">{{ anguloInclinacion }} º </span>
                                    </div>
                                    <div class="overlay dark" *ngIf="loadingTopoGrafia">
                                        <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="info-box bg-info">
                                    <span class="info-box-icon">
                                        <i class="fas fa-arrow-up"
                                            [style]="'transform: rotate('+orientacionDeclive+'deg)'"></i>
                                    </span>

                                    <div class="info-box-content">
                                        <span class="info-box-text">Aspecto</span>
                                        <span class="info-box-number">{{ orientacionDeclive }} º</span>                                        
                                    </div>
                                    <div class="overlay dark" *ngIf="loadingTopoGrafia">
                                        <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                        

                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Uso del suelo</h3>

                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <ul>
                                    <li *ngFor="let uso of usoDelSuelo">{{ uso }}</li>
                                </ul>
                            </div>
                            <div class="overlay dark" *ngIf="loadingUsoDelSuelo">
                                <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                </div>

                <h5 class="mt-4 mb-2">Factores Combinados</h5>
                <div class="row">
                    <div class="col-6">
                        <div class="info-box bg-gradient-dark">
                            <div class="overlay dark" *ngIf="loadingFactoresCombinados">
                                <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                            </div>
                            <span class="info-box-icon"><i class="far fa-bookmark"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Factor RV</span>
                                <span class="info-box-text"><small>(Aspecto/Origen del
                                        Viento)</small></span>
                                <span class="info-box-number">
                                    {{ factoresCombinados.rv }}</span>

                                <div class="progress">
                                    <div class="progress-bar" [style]="'width:'+ factoresCombinados.rvPercent +'%'">
                                    </div>
                                </div>
                                <span class="progress-description">
                                    Valores: 0=Bajo - 1=Alto
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="info-box bg-gradient-dark">
                            <div class="overlay dark" *ngIf="loadingFactoresCombinados">
                                <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                            </div>
                            <span class="info-box-icon"><i class="far fa-bookmark"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Factor RVI</span>
                                <span class="info-box-text"><small>(Inclinacion/Aspecto/Dirección del
                                        Viento)</small></span>
                                <span class="info-box-number">{{ factoresCombinados.rvi }}</span>

                                <div class="progress">
                                    <!-- <div class="progress-bar" style="width: 70%"></div> -->
                                    <div class="progress-bar" [style]="'width:'+ factoresCombinados.rviPercent +'%'">
                                    </div>
                                </div>
                                <span class="progress-description">
                                    Valores: 0 - 190
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Predicción de la Propagación (estimación multivariada)</h3>

                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6">

                                        <table class="table table-striped table-valign-middle">
                                            <thead>
                                                <tr>
                                                    <th>Hora</th>
                                                    <th>Posición</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let prediccionPropagacion of prediccionesPropagacion">
                                                    <td>{{prediccionPropagacion.hora}}</td>
                                                    <td>{{prediccionPropagacion.latLang}}</td>
                                                </tr>                                               

                                            </tbody>
                                        </table>

                                    </div>
                                    <div class="col-6">
                                        <div style="height: 350px;" leaflet [leafletOptions]="mapOptions"
                                            (leafletMapReady)="onMapReady($event)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="overlay dark" style="z-index: 9999;" *ngIf="loadingPrediccionPropagacion">
                                <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->

    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
        <div class="float-right d-none d-sm-inline">
            Fuentes: NASA FIRMS, OpenStreetMap, OpenWeatherMap, OpenTopoMap
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; CC BY-SA Int 4.0 - Gobierno de la Provincia de MIsiones.</strong>
    </footer>
</div>