.bg-5 {
    background-color: #a50026;
    color: #fff;
}

.bg-4 {
    background-color: #d3322b;
    color: #fff;
}

.bg-3 {
    background-color: #f16d43;
    color: #000;
}

.bg-2 {
    background-color: #fcab63;
    color: #000;
}

.bg-1 {
    background-color: #fedc8c;
    color: #000;
}

.img-clima {
    width: 1rem;
}